.treecub_container{

display: flex;
margin-top: 5%;
margin-left: -1%;
}

.make_h2{
    margin-left: 35%;
    font-size: 30px;
    font-weight: 400;
    color: black;
}
.make_h21{
    margin-left: 12%;
    font-size: 30px;
    font-weight: 400;
    color: black;
}


.cub{
    display: flex;
    width: 350px;
    height: 300px;
    border: 1px solid black;
    border-radius: 35px;
    margin-left: 120px;

}



.img{
    width: 70px;
    height: 70px;
    margin-left: 120px;
    margin-top: 20px;
}


.code_p{
    font-size: 22px;
        margin-left: -320px;
    margin-top: 120px;
}